/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  margin: 1rem;
}

img{
  display: block;
  margin: 0 auto;
  max-width: 20rem;
}

.quote{
  display: block;
  text-align: center;
}

footer{
  margin-top: 60%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
